

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif !important;
  background-color: #F8F9FA;
}


.navbarIzq {
 margin-top: 24px;
}
  /* unvisited link */
 a:link {
   color: #000000;
 }

 /* visited link */
 a:visited {
   color: #34495e;
 }

 /* mouse over link */
 a:hover {
   color: #ec0c0c;
   text-decoration: none;
 }

 /* selected link */
 a:active {
     color: #CCCCCC;
 }

.container-navbar{
padding: 0px;
margin: 0px;

}

.navbarLogo{
  padding-right: 15px;
  padding-left: 15px;
}

.navbarIconosRight{
  display: flex;
  flex-direction: row;
/*  justify-content: left;
  float: left; */
  padding-right: 15px;
  padding-left: 15px;
  overflow: hidden;
}
.navbarIconosList{
  flex-direction: row;
  float: left;
  width: 50%;
}

.navbarIconosItem{
width: 100%;
}


p.modalTile{
  font-size: 20px;
}

.listTechSpecs{
  font-size: 0.9rem;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

footer{
  width: 100%;
  background: #202020;
  color:white;




}

.container-footer-all{
  width: 100%;
  max-width: 1200;
  margin: auto;
  padding: 40px;

}

.container-body{
display: flex;
justify-content:space-between;
}
.colum1{

  max-width: 400%;

}

.colum1 h1{
  font-size: 22px;
}
.colum1 p{
  font-size: 14px;
  color: #C7C7C7;
  margin-top: 20PX;
}

.colum2{
  max-width: 400px;

}
.colum2 h1{
  font-size: 22px;

}
.colum2 label a {
text-decoration: none;

}
.row{
  margin-top: 20px;
  display: flex;
}

.row img{
  width: 36px;
  height: 36px;

}
.row label {
  margin-top: 10px;
  margin-left: 20px;
  color: #C7C7C7;
  cursor: pointer;

}

.colum3{
  max-width: 400%;
}

.colum3 h1{
  font-size: 22px;

}

.row2{
  margin-top: 20px;
  display: flex;

}
.row2 img{
  width: 38px;
  height: 36px;

}
.row2 label {
  margin-left: 30px;
  max-width: 150px;




}
.row2 label a {
 text-decoration: none;



}

.container-footer{
width: 100%;
background: #101010;

}
.footer{
  max-width: 1300px;
  margin: auto;
  justify-content: space-between;
  display: flex;
  padding: 20px;
}
.copyright{
color:#C7C7C7;

}

.copyright a {
text-decoration: none;
color:white;
font-weight: bold;

}
.informacion {
  text-decoration: none;
  color:#C7C7C7;
}

@media screen and (max-width: 1200px){

  .container-body{
    flex-wrap: wrap;
  }
.colum1{
  max-width: 100%;
}
  .colum2,.colum3{
    margin-top: 40px;

  }
}
